<%- include('../partials/header') %>

<h2><%= topic.title %></h2>

<form method="POST" action="/topics/<%= topic._id %>/message">
  <input name="content" class="form-control" placeholder="Write message">
  <button class="btn btn-success mt-2">Send</button>
</form>

<% messages.forEach(m => { %>
  <p><b><%= m.author.username %>:</b> <%= m.content %></p>
<% }) %>

<%- include('../partials/footer') %>
